{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">


         
    <body>
    
    {% if cityInfo %}
      {% for city in cityInfo %}
      <td>{{city.key}}</td>
      <td> {{city.value}}</td>
     
       {% endfor %}
    {%else%}
    <hr>NO DATA</hr>
    {% endif %}
    
     <td>{{melbourne}}</td>
     <td>{{sydney}}</td>
     <td>{{adelaide}}</td>
     <td>{{perth}}</td>
     <td>{{brisbane}}</td>
     <td>{{NswCount}}</td>
     <td>{{VicCount}}</td>
     <td>{{SacCount}}</td>
       
    </body>
     
      
    
   </html>