{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">


         
    <body>
    
    {% if cityInfo %}
      {% for city in cityInfo %}
      <td>{{city.key}}</td>
      <td> {{city.value}}</td>
     
       {% endfor %}
       {% for city1 in cityTotal %}
      <td>{{city1.melbourne}}</td>
      <td> {{city1.sydney}}</td>
      <td> {{city1.adelaide}}</td>
      <td> {{city1.perth}}</td>
      <td> {{city1.brisbane}}</td>
     
       {% endfor %}
      
     <td>{{NswCount}}</td>
     <td>{{VicCount}}</td>
     <td>{{SaCount}}</td>
     {% for cityOld in cityTotalOld %}
      <td>{{cityOld.melbourne}}</td>
      <td> {{cityOld.sydney}}</td>
      <td> {{cityOld.adelaide}}</td>
     
       {% endfor %}
    {%else%}
    <hr>NO DATA</hr>
    
    
     
     {% endif %}
    </body>
     
      
    
   </html>